version: "3.7"

x-log-basic: &basic-log
  logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "3"
      labels: "system"

services:
  db:
    hostname: postgres
    container_name: pg_db
    image: postgres:15-alpine
    command: postgres -c 'max_connections=100'
    ports:
      - "5432:5432"
    environment:
      - "POSTGRES_USER=docs"
      - "POSTGRES_PASSWORD=pass"
      - "POSTGRES_DB=document"
    <<: [ *basic-log ]